* {
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);

}

.center-contents {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.qr-card {
    height: 100%;
    width: 100%;
    max-width: 17rem;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    box-shadow: 2px 2px 20px #B2B2B2;
    padding: 12px;
     
}

.qr {
    border-radius: 10px;
    width: 100%;
    max-width: 264px;
}

h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 1.12rem;
    text-align: center;
    margin: 20px;
}

p {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 0.94rem;
    text-align: center;
    margin: 10px 20px 20px;
    color: hsl(220, 15%, 55%);
}






