* {
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);

}

.rectangle {
    height: 100%;
    min-height: 385px;
    width: 100%;
    max-width: 250px;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 2px 2px 20px #B2B2B2;
     
}

.qr {
    border-radius: 4%;
    width: 100%;
    max-width: 230px;
    margin: 4% 4% auto;
}

.attribution {
    margin: 10%;
}

h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
}

p {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    padding: 5px 20px;
    color: hsl(220, 15%, 55%);
}




